# Importing pandas

In [61]:
import pandas as pd

# accessing the dataset

In [105]:
df1 = pd.read_csv('/Users/divyaprabharajendran/Documents/6610 project/data/CSV files/Phishing_Email.csv')
df1.head(10)

   ID                                         Email Text      Email Type
0   0  re : 6 . 1100 , disc : uniformitarianism , re ...      Safe Email
1   1  the other side of * galicismos * * galicismo *...      Safe Email
2   2  re : equistar deal tickets are you still avail...      Safe Email
3   3  \nHello I am your hot lil horny toy.\n    I am...  Phishing Email
4   4  software at incredibly low prices ( 86 % lower...  Phishing Email
5   5  global risk management operations sally congra...      Safe Email
6   6  On Sun, Aug 11, 2002 at 11:17:47AM +0100, wint...      Safe Email
7   7  entourage , stockmogul newsletter ralph velez ...  Phishing Email
8   8  we owe you lots of money dear applicant , afte...  Phishing Email
9   9  re : coastal deal - with exxon participation u...      Safe Email

# Numerical and categorical columns

In [106]:
Numerical = df1.select_dtypes(exclude = 'object').columns
categorical = df1.select_dtypes(include = 'object').columns

In [107]:
Numerical

Index(['ID'], dtype='object')

In [108]:
categorical

Index(['Email Text', 'Email Type'], dtype='object')

# Cleaning empty rows and deleting duplicate values
The rows with empy data are denoted as 'empty'

In [109]:
df1.isna().sum()

ID             0
Email Text    16
Email Type     0
dtype: int64

In [110]:
df1.dropna(inplace=True,axis=0)
df1.drop_duplicates(inplace=True)

In [111]:
df1.isna().sum()

ID            0
Email Text    0
Email Type    0
dtype: int64

In [112]:
filtered_df = df1[df1['Email Text'] == "empty"]

In [113]:
filtered_df.count()

ID            533
Email Text    533
Email Type    533
dtype: int64

In [114]:
filtered_df = df1[df1['Email Text'] == "empty"].index

In [115]:
df1.drop(filtered_df , inplace=True)

In [116]:
filtered_df = df1[df1['Email Text'] == "empty"]

In [117]:
filtered_df.count()

ID            0
Email Text    0
Email Type    0
dtype: int64

# Encoding categorical data

Ordinal encoding is performed

Phising Email => 1
Safe email => 0

In [118]:
from sklearn.preprocessing import OrdinalEncoder

In [119]:
Encoder = OrdinalEncoder(categories=[["Phishing Email", "Safe Email"]])
df1['Email Type'] = Encoder.fit_transform(df1[['Email Type']])

In [120]:
df1.head(10)

   ID                                         Email Text  Email Type
0   0  re : 6 . 1100 , disc : uniformitarianism , re ...         1.0
1   1  the other side of * galicismos * * galicismo *...         1.0
2   2  re : equistar deal tickets are you still avail...         1.0
3   3  \nHello I am your hot lil horny toy.\n    I am...         0.0
4   4  software at incredibly low prices ( 86 % lower...         0.0
5   5  global risk management operations sally congra...         1.0
6   6  On Sun, Aug 11, 2002 at 11:17:47AM +0100, wint...         1.0
7   7  entourage , stockmogul newsletter ralph velez ...         0.0
8   8  we owe you lots of money dear applicant , afte...         0.0
9   9  re : coastal deal - with exxon participation u...         1.0